<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ポイントUP勤怠</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/send_url.js"></script>
    </head>
    <body>
        <%- include('header'); %>
        <main>
            <div class="top-wrap">
                <h1><%= users.name %>さんの出勤履歴</h1>
            </div>
            <div class="area">
                <input type="radio" name="tab_name" id="tab1" checked>
                <label class="tab_class" for="tab1">出勤情報</label>
                <div class="content_class">
                    <div class="sal-sum">
                        <% 
                        let sum_money = 0;
                        let sum_time = 0;
                        let now = new Date();
                        workHistory.forEach((history) => {
                            if(new Date(history.In_time).getMonth() === now.getMonth()){
                                sum_money = sum_money + history.sales;
                                sum_time = sum_time + history.daytime + history.night;
                            }
                        }); %>
                        <div class="sale">
                            <p>今月の売り上げ</p>
                            <h2><%= sum_money %>円</h2>
                        </div>
                        <dib class="time">
                            <p>今月の稼働時間</p>
                            <h2><%= sum_time %>時間</h2>
                        </dib>
                    </div>
                    <div class="sal-tbl">
                        
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>出勤時間</th>
                                        <th>退勤時間</th>
                                        <th>昼間勤務</th>
                                        <th>夜間勤務</th>
                                        <th>売り上げ</th>
                                        <% if(locals.manager){ %>
                                            <th>ボタン</th>
                                        <% }%>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% workHistory.forEach((history) => { %>
                                    <tr>
                                        <td><%=history.history_id%></td>
                                        <%const timeoptions = {
                                            year: 'numeric',
                                            month: '2-digit',
                                            day: '2-digit',
                                            hour: '2-digit',
                                            minute: '2-digit',
                                            hour12: false,
                                            timeZone: 'Asia/Tokyo'
                                          }; %>
                                        <!-- In＿timeが格納されているか -->
                                        <% if(history.In_time !== null && !isNaN(new Date(history.In_time))){ %>
                                            <td><%= new Intl.DateTimeFormat('ja-JP', timeoptions).format(new Date(history.In_time)).replace(/\//g, '-').replace(',',''); %></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        <!-- Out＿timeが格納されているか -->
                                        <% if(history.Out_time !== null && !isNaN(new Date(history.Out_time))){ %>
                                            <td><%= new Intl.DateTimeFormat('ja-JP', timeoptions).format(new Date(history.Out_time)).replace(/\//g, '-').replace(',',''); %></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                        <td><%=history.daytime%></td>
                                        <td><%=history.night%></td>
                                        <td><%=history.sales%></td>
                                        <% if(locals.manager){ %>
                                            <td class="a-center"> <a href="/work_edit/<%= history.history_id %>" class="detail-btn">編集</a></td>
                                        <% }%>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        
                    </div>
                </div>
                <input type="radio" name="tab_name" id="tab2" >
                <label class="tab_class" for="tab2">詳細情報</label>
                <div class="content_class">
                  <p>従業員名：<%= users.name%></p>
                  <p>Email：<%= users.email%></p>
                  <p>時間単価：<%= users.unit_price%></p>
                  <p>ポイント：<%= users.point%></p>
                  <P>※1000ポイントにつき時給10円アップ</P>
                  <% if(locals.manager){ %>
                    <a href="/user-info-edit/<%= users.id %>" class="sub-button">編集</a>
                  <% }%>
                </div>
            </div>
        </main>
    </body>
</html>